[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wireless Applet
GenericName=Tray Icon
Comment=A Wireless System Tray Icon
Icon=network-wireless
TryExec=xde-wl-applet
Exec=xde-wl-applet --replace
Terminal=false
Categories=XDE;System;Utility;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=XDE-WL-Applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
Actions=Tray;Dock;

[Desktop Action Tray]
Exec=xde-wl-applet --replace --nodock

[Desktop Action Dock]
Exec=xde-wl-applet --replace --notray
