[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Avahi Applet
GenericName=Tray Icon
Comment=An Avahi System Tray Icon
Icon=network-wired
TryExec=xde-av-applet
Exec=xde-av-applet --replace --nodock
Terminal=false
Categories=XDE;System;Utility;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=XDE-AV-Applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
