[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bluetooth Applet
GenericName=Tray Icon
Comment=A Bluetooth System Tray Icon
Icon=bluetooth
TryExec=xde-bt-applet
Exec=xde-bt-applet --replace --nodock
Terminal=false
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=XDE-BT-Applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
