[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Backlight Applet
GenericName=Tray Icon
Comment=A Backlight System Tray Icon
Icon=notification-display-brightness-full
TryExec=xde-bl-applet
Exec=xde-bl-applet --replace --nodock
Terminal=false
Categories=XDE;System;Utility;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=XDE-BL-Applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
