[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bluetooth Applet
GenericName=Tray Icon
Comment=A Bluetooth System Tray Icon
Icon=
TryExec=bt-applet
Exec=bt-applet
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=av-applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
