[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=HAL Applet
GenericName=Tray Icon
Comment=A HAL System Tray Icon
Icon=utilities-system-monitor
TryExec=hal-applet
Exec=hal-applet
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=halApplet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
