[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Package Kit Applet
GenericName=Tray Icon
Comment=A Package Kit System Tray Icon
Icon=system-software-install
TryExec=pk-applet
Exec=pk-applet
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=pkApplet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
