[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=??? Applet
GenericName=Tray Icon
Comment=A ??? System Tray Icon
Icon=
TryExec=sl-applet
Exec=sl-applet
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=av-applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
