[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wireless Applet
GenericName=Tray Icon
Comment=A Wireless System Tray Icon
Icon=network-wireless
TryExec=xde-wl-applet
Exec=xde-wl-applet
Categories=XDE;System;Utilities;TrayIcon;
NotShowIn=GNOME;KDE;XFCE;LXDE;
StartupNotify=true
StartupWMClass=XDE-WL-Applet
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
